h1 {
  color: white;
  font-family: Impact, Charcoal, sans-serif;
  font-size: 7vh;
  position: relative;
  top: 1vh;
  text-align: center;
}

body {
  background-color: black;
}

img {
  position: fixed;
  top: 20vh;
  left: 10vw;
  /*border: 1px solid white;*/
  width: 40vw;
  height: 70vh;
  /*object-fit: contain;*/
  transition-duration: 1s;
}

.marker {
  width:3vw;
  height:5vh;
  position: fixed;
}

#btn-group {
  /*border: 1px solid white;*/
  position: fixed;
  top: 20vh;
  right: 10vw;
  height: 77vh;
  width: 30vw;
  text-align: center;
}

.btn {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  height: 10vh;
  border: 1px solid white;
  border-radius: 10px;
  cursor: pointer;
  display: block;
  width: 30vw;
  transition-duration: 0.5s;
  margin: auto;
}

.btn:hover {
  background-position: center top;
  transition-duration: 0.5s;
}

.brimstone {
  background-image: url("images/brimstone.jpg");
}

.cypher {
  background-image: url("images/cypher.jpg");
}

.killjoy {
  background-image: url("images/killjoy.jpg");
}

.omen {
  background-image: url("images/omen.png");
}

.raze {
  background-image: url("images/raze.jpg");
}

.sova {
  background-image: url("images/sova.png");
}

.viper {
  background-image: url("images/viper.png");
}

#background {
  height: 100vh;
  width: 100vw;
  background-image: black;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  animation: fadein 4s;
  -moz-animation: fadein 4s;
  /* Firefox */
  -webkit-animation: fadein 4s;
  /* Safari and Chrome */
  -o-animation: fadein 4s;
  /* Opera */
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {

  /* Firefox */
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {

  /* Safari and Chrome */
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-o-keyframes fadein {

  /* Opera */
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
