body {
	margin: 0;
	/* The image used */
	background-image: url("bg2.jpg");
	/* Full height */
	height: 100%;
	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

h1{
	color: black;
	text-align: center;
	font-family: "Lucida Console", Courier, monospace;
	#margin-top: 50px;
}

img{
	width: 272px;
	height: 153px;
	#text-align: center;
	margin-top: 250px;
}

#thumbs {   
    width: 540px;
    margin-top:90px;
    margin-left: auto; 
    margin-right: auto;

     text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}
	

#thumbs {   
    width: 1200px;
    margin-left: auto; 
    margin-right: auto;

     text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}
#thumbs a {
    vertical-align: top;
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}